.upgradeCard {
  flex: 0 0 16rem;
  padding: 2rem;
  background-image: linear-gradient(
    to bottom left,
    var(--card-gradient1),
    var(--card-gradient2)
  );
  border-radius: 2rem;
  gap: 1.5rem;
  display: grid;
  grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
  font-family: system-ui, sans-serif;
  color: var(--text);
  box-shadow:
    inset -2px 2px var(--shadow-inset),
    -20px 20px 40px var(--shadow-outer);
}

.upgradeCardTitle {
  grid-area: title;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  align-self: end;
  word-break: break-word;
}

.upgradeCardDescription {
  grid-area: content;
  & > *:first-child {
    margin-top: 0rem;
  }
  & > *:last-child {
    margin-bottom: 0rem;
  }
}

.upgradeCardIcon {
  width: clamp(2rem, 3rem);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  padding: 0.25rem;
}

.upgradeCardIcon svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.upgradeCardButton {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  background: var(--accent);
  color: var(--text);
  cursor: pointer;
}

.upgradeCardButton:hover:not(:disabled) {
  background: var(--primary);
}
